  {% extends 'base.html'%}
  {% block contents %}
  <section id="features" class="section-2 odd features offers">
            <div class="container">
                <div class="row intro">
                    <div class="col-12 col-md-9 align-self-center text-center text-md-left">
                        <span class="pre-title m-auto ml-md-0">Package Delivery</span>
                        <h2>Make a <span class="featured"><span>Booking now</span></span></h2>
                        <p>With all of this expertise and capability comes an unrivalled commitment to customer service. We will work hard to understand your needs in order to develop a productive, long-term partnership.</p>
                    </div>
                    <div class="col-12 col-md-3 align-self-end">
                        <a href="#" class="btn mx-auto mr-md-0 ml-md-auto outline-button">SEE ALL</a>
                    </div>
                </div>
                <form action="{% url 'vehicle_details' vehicle_detail.id %}"  method="post">
                    {%csrf_token%}
                    <div class="row justify-content-center items">

                        <div class="col-12 col-md-12 col-lg-12 item">

                            <div class="card">
                                 <i class="icon fas fa-{{vehicle_detail.get_icon_label_display}}"></i>
                                <h4>{{vehicle_detail.get_vehicle_type_display}}</h4>
                                <p>{{vehicle_detail.description}}</p>
    <!--                            <a href="#"><i class="btn-icon pulse fas fas fa-arrow-right"></i></a>-->
                            </div>
                            <div class="card">
    <!--                            <i class="icon fas fa-shuttle-van"></i>-->
                                <h4>Cargo information</h4>

                                  <div class="form-row">
                                    <div class="form-group col-md-6">
                                      <label for="inputEmail4">From</label>
                                      <input required type="text" class="form-control" name="cargo_from" id="inputEmail4" placeholder="Enter where your Cargo is located at this moment">
                                    </div>
                                    <div class="form-group col-md-6">
                                      <label for="inputPassword4">To</label>
                                      <input type="text" class="form-control" name="to" id="inputPassword4" placeholder="Enter where the is transpoted to (Location) ">
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label for="inputAddress">From Address</label>
                                    <input type="text" class="form-control" name="fromAddress" id="inputAddress" placeholder="eg: 1234 Main St( Enter the curent one)">
                                  </div>
                                  <div class="form-group">
                                    <label for="inputAddress2">To address</label>
                                    <input required type="text" class="form-control" name="toAddress" id="inputAddress2" placeholder="Eg: Apartment, studio, or floor">
                                  </div>
                                  <div class="form-row">
                                    <div class="form-group col-md-6">
                                      <label for="inputRegion">Region</label>
                                      <input required type="text" class="form-control" name="region" id="inputRegion" placeholder="Enter Region">
                                    </div>
                                    <div class="form-group col-md-6">
                                      <label for="inputDistrict">District</label>
                                      <input required type="text" class="form-control" name="district" id="inputDistrict" placeholder="Enter District of residence">
                                    </div>
    <!--                                <div class="form-group col-md-4">-->
    <!--                                  <label for="inputState">Distric</label>-->
    <!--                                  <select id="inputState" class="form-control">-->
    <!--                                    <option selected>Choose...</option>-->
    <!--                                    <option>...</option>-->
    <!--                                  </select>-->
    <!--                                </div>-->
                                    <div class="form-group col-md-2">
                                      <label for="inputZip">Town/city</label>
                                      <input required type="text" class="form-control" name="town" id="inputZip"placeholder="Enter City you live">
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <div class="form-check">
                                      <input required class="form-check-input" type="checkbox" id="gridCheck">
                                      <label class="form-check-label" for="gridCheck">
                                        save for futures
                                      </label>
                                    </div>
                                  </div>
                                  <button type="submit" class="btn btn-warning">Submit</button>

                                <a href="#"><i class="btn-icon pulse fas fas fa-arrow-right"></i></a>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-12 item">
                            <div class="card">
                                <i class="icon fas fa-shuttle-van"></i>
                                <h4>Cargo information</h4>
                                <p>Suitable for medium sized loads. <br> </p>
                                <a href="#"><i class="btn-icon pulse fas fas fa-arrow-right"></i></a>
                            </div>
                        </div>
    <!--                    <div class="col-12 col-md-6 col-lg-4 item">-->
    <!--                        <div class="card">-->
    <!--                          <i class="icon fas fa-truck-moving"></i>-->
    <!--                            <h4>Truck</h4>-->
    <!--                            <p>Suitable for Large sized loads. <br> </p>-->
    <!--                            <a href="#"><i class="btn-icon pulse fas fas fa-arrow-right"></i></a>-->
    <!--                        </div>-->
    <!--                    </div>-->
                    </div>
                </form>
            </div>
        </section>
  {% endblock contents %}